*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5% ;
}
@media(max-width:998px){
    html {
        font-size:55%;
    }
}

@media(max-width:768px){
    html{
        font-size:45%;
    }
}


#anno{
    display: inline-block;
    width: 20rem;
    background: gold;
    height: 6.0rem;
    font-size: 1.5rem;
     text-align: center;
    padding-top: 1.5rem;
   /* padding-left: 3.8%; */
    border-bottom: .2rem solid white;
    
}


#buttun{
    position: sticky;
    display: inline;
    /* background: rgba(31, 69, 183, 0.764); */
    margin-bottom: .2rem sodil white;
    height: 4.0rem;
    left: 110.0rem;
    height: 2rem;
    width: 80%;
}
.ann{
    display: inline-block;
   background: rgba(31, 69, 183, 0.764);
   border-bottom: .2rem solid white;
   height: 6rem;
   width: 100%;
   border-top-right-radius: 0.2rem;
 }  
#blue{
    /* background:rgba(31, 69, 183, 0.764); */
    font-size: 2.0rem;
    color: aliceblue;
    border: 0rem;
    width: 10%;
}


body{
    background:black;
}
#search{
    width: 11.0rem;
    height: 5.0rem;
    display: inline;
}
#form{
    display: inline-block;
    
}
#bibhu{
    text-align: center;
    color: aqua;
}

.payal{
    /* height: 11rem; */
    width: 100%;
    background-color: #000000;
    border-bottom: 2px solid rgb(51, 92, 226);
    display: inline-block;
    /* height: 12rem; */
}
.pb{
background: rgb(246, 1, 1);
color:#000000;
width: 100%;
height: 6em;

}
#button{
    display: inline-block;
    width: 100%;
    /* height: 9rem; */
     background-color:#ffffff;
     /* color:black; */
     /* justify-content: center; */
    /* margin-top: ; */
    padding-top: 0rem;
    margin: 0%;
    /* top: 0.1rem; */
    /* text-align: center; */
     font-size: 2rem;
}
#white{
    display: inline-block;
    /* height: 100%; */
    font-size: 7rem;
    padding-top: 0rem;
    font-weight: 0rem;
    width: 1rem;
}
.building{
    background-color:rgba(0, 64, 255, 0.764);
    height: 6rem;
    width:100%;
    display: block;
}
.palur{
    /* text-align: center; */
    color:white ;
    display: inline-block;
    font-size: 3rem;
    font-style: normal;
    /* padding-top: 1.5rem; */
    /* height: 30rem; */
    /* left: 2.0rem; */
    /* width: 110rem; */
    /* right: 10rem; */
    position: sticky;
    
    /* padding-bottom: 1.5rem; */
}
.bottom-left{
    position: absolute;
    bottom: 8px;
    left:16px;
    color: #ffffff;
    font-size: 65px;
}
 .write{
    text-align: justify;
    font-size: 20px;
    display: block;
    color:darkslategray;
    background-color:#ffffff;
    font-weight: lighter;
    line-height: 30px;
    padding:60px 120px 120px 100px;
 }
h1{
    color:rgb(49, 46, 46);
    background-color: #ffffff;
    text-align: center;
    font-weight: 30;
    font-size: 45px;
    padding-bottom: 80px;
}
.clg{
    text-align: justify;
    font-size: 20px;
    display: block;
    color:darkslategray;
    background-color:#ffffff;
    font-weight: lighter;
    line-height: 30px;
    padding:30px 120px 40px 100px;
}
.park{
    text-align: justify;
    font-size: 20px;
    display: block;
    color:darkslategray;
    background-color:#ffffff;
    font-weight: lighter;
    line-height: 30px;
    padding:0px 120px 80px 100px; 
}
.drones{
    padding: 0px 300px 10px 90px;
    text-align: left;
    color:darkslategray;
    background-color: white;
    font-size: 20px;
}
.pic{
    text-align: justify;
    height:200px;
    width: 800px;
    color:darkslategray;
    background-color:#ffffff;
    font-weight: lighter;
    line-height: 25px;
    font-size: 20px;
    padding-left: 120px;
    padding-bottom: 150px;
}
a{
    text-decoration: none;
}
.pic{
    display:flex;
    flex-direction: row;
    flex:wrap;
}
.left{
    height:14.6vh;
    width: 150vw;
    justify-content: center;
    background-color:white;
    color: black;
}
.right {
    text-align: right;
    height:3vh;
    width:5vw;
    padding:0px 120px 80px 100px;
}
@keyframes blinker{
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}




















/* #yell{
    background: #ffffff;
    width: 15rem;
    display: inline;
    height: 4.0rem;
    /* left: 150rem; */
/* } */ 
/* #yello{
    background-color: gold;
    width: 3rem;
    display: inline;
    height: 4.0rem;
} */

.an{
    background: #ffffff;
    border-bottom: .2rem solid white;
    height: 4.0rem;
    display: inline-block;
  }  
 