*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5% ;
}
@media(max-width:998px){
    html {
        font-size:55%;
    }
}

@media(max-width:768px){
    html{
        font-size:45%;
    }
}


#anno{
    width: 20rem;
    background: gold;
    height: 4.0rem;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1.5rem;
    border-bottom: .2rem solid white;
    display: inline-block;
}


#buttun{
    position: sticky;
    display: inline;
    background: #0037ff;
    margin-bottom: .2rem sodil white;
    height: 4.0rem;
    left: 110.0rem;
    height: 2rem;
}
.ann{
   background: #0037ff;
   border-bottom: .2rem solid white;
   /* height: 4.0rem; */
 }  
#blue{
    background:#0037ff;
    font-size: 2.0rem;
    color: aliceblue;
    border: 0rem;
    
}


body{
    background:black;
}
#search{
    width: 11.0rem;
    height: 5.0rem;
    display: inline;
}
#form{
    display: inline;
    
}
#bibhu{
    text-align: center;
    color: aqua;
}

.payal{
    /* height: 11rem; */
    width: 100%;
    background-color: #000000;
    border-bottom: 2px solid rgb(51, 92, 226);
    display: inline-block;
    /* height: 12rem; */
}
.pb{
background: rgb(246, 1, 1);
color:#000000;
width: 100%;
height: 6em;

}
#button{
    display: inline-block;
    width: 100%;
    /* height: 9rem; */
     background-color:#ffffff;
     /* color:black; */
     /* justify-content: center; */
    /* margin-top: ; */
    padding-top: 0rem;
    margin: 0%;
    /* top: 0.1rem; */
    /* text-align: center; */
     font-size: 2rem;
}
#white{
    display: inline-block;
    /* height: 100%; */
    font-size: 7rem;
    padding-top: 0rem;
    font-weight: 0rem;
    width: 1rem;
}
.building{
    background-color:rgba(0, 64, 255, 0.764);
    height: 6rem;
    width:100%;
    display: block;
}
.palur{
    /* text-align: center; */
    color:white ;
    display: inline-block;
    font-size: 3rem;
    font-style: normal;
    /* padding-top: 1.5rem; */
    /* height: 30rem; */
    /* left: 2.0rem; */
    /* width: 110rem; */
    /* right: 10rem; */
    position: sticky;
    
    /* padding-bottom: 1.5rem; */
}
.bottom-left{
    position: absolute;
    bottom: 8px;
    left:16px;
    color: #ffffff;
    font-size: 65px;
}
p{
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}






























/* #yell{
    background: #ffffff;
    width: 15rem;
    display: inline;
    height: 4.0rem;
    /* left: 150rem; */
/* } */ 
/* #yello{
    background-color: gold;
    width: 3rem;
    display: inline;
    height: 4.0rem;
} */

.an{
    background: #ffffff;
    border-bottom: .2rem solid white;
    height: 4.0rem;
    display: inline-block;
  }  