*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5% ;
}
@media(max-width:998px){
    html {
        font-size:55%;
    }
}

@media(max-width:768px){
    html{
        font-size:45%;
    }
}


#anno{
    width: 22.0rem;
    
    background-color: rgb(255, 184, 5);
    display: inline-block;
    /* padding-left: 3.0rem; */
    border-top-left-radius: .5rem;
    border-bottom: .2rem solid white;
    height: 4.9rem;
    text-align: center;
    padding-top: 1.2rem;
    font-size: 1.5rem;
    /* padding-right: 1.0rem; */
    /* border-top-right-radius: 5px; */
    height: 4.0rem;
}


#buttun{
     padding-top: 1.0rem;
    padding-left: 50.0rem; 
    display: inline;
    background: #0037ff;
    /* border-top: #0037ff; */
     margin-bottom: .2rem sodil white;
    height: 3.0rem;
    position: fixed;
   
} 
  #ann{
   width: 100%;
   display: inline-block;
   background: #0037ff;
   border-bottom: .2rem solid white;
   height: 4.0rem;
   margin-block: 5px;
 }   
#blue{
    background:#0037ff;
    font-size: 2.0rem;
    font-weight: 6.0rem;
    color: aliceblue;
    border: 0rem;
}


/* body{
    background: black;
} */
#search{
    width: 11.0rem;
    height: 5.0rem;
    display: inline;
}
#form{
    display: inline;
    
}
#bibhu{
    text-align: center;
    color: aqua;
}
.imag{
    background: #ffffff;
}
